* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto';
    scroll-behavior: smooth;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

a {
    color: inherit;
    text-decoration-line: inherit;
}

ul,
ol {
    list-style-type: none;
}

button {
    cursor: pointer;
}

h1 {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}