* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto';
    scroll-behavior: smooth;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

h1 {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

/* recharts.org does not allow you to specify values in percentages */
.recharts-wrapper {
    width: 80% !important;
    height: 80% !important;
    margin: 26px 0 0 26px;
}
.recharts-surface {
    width: 100%;
    height: 100%;
}
